/* stylenanda_rwd .css */
/*
body::-webkit-scrollbar{
  width: 20px;
}
body::-webkit-scrollbar-thumb{
  background-color: #d99f9d;
}
.wrap{
  width: 100%;
  height: 100%;
}
.wrap::after{
  content:" ";
  display:block;
  clear:both;
}*/
body,html{width: 100%; height: 100%;}
.wrap{
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px){
.section_01{
  background-image: url('../../../img/stylenanda/back_01.jpg');
}
.section_02{
  background-image: url('../../../img/stylenanda/back_02.jpg');
}
.section_03{
  background-image: url('../../../img/stylenanda/back_03.jpg');
}
.section_04{
  background-image: url('../../../img/stylenanda/back_04.jpg');
}
.section_05{
  background-image: url('../../../img/stylenanda/back_05.jpg');
}






}
@media screen and (min-width: 769px) and (max-width:1279px){

}
@media screen and (min-width: 1280px){

}