/* main.css */
body,html{width: 100%; height: 100%;}
#wrap{width: 1200px; height: auto; margin: 0 auto; background-color: #ddd;}
.list_wrap{
  float: left;
  width: 200px;
  height: 1000px;
}
.list_wrap button{
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 18px;
  color: #aaa;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}
.list_wrap .click{
  color: #000;
}
.list_wrap button:hover{
  color: #000;
}
.content_wrap{
  float: left;
  width: 1000px;
  min-height: 1000px;
  height: auto;
  background-color: #fff;
}
.content_wrap div{
  width: 100%;
  min-height: 1000px;
  height: auto;
}
.content_wrap div ul{}
.content_wrap div ul li{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
  box-sizing: border-box;
  font-weight: bold;
  line-height: 50px;
}
.content_wrap div ul li a{
  display: block;
  width: 100%;
  height: 100%;
}
.content_wrap div ul li a:hover{
  color: #f33;
}
.html_content{
  /*background-color: #aff;*/
}
.css_content{
  display: none;
  /*background-color: #aaf;*/
}
.js_content{
  display: none;
  /*background-color: #afa;*/
}
.ex_content{
  display: none;
  /*background-color: #aaa;*/
}