/* main.css */
/* reset.css */
html,body{width: 100%; height: 100%; margin:0; padding:0; color:#fff; font-size:16px; font-size:1rem;
font-family: 'BMJUA', sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;}
@font-face { font-family: 'BMJUA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff'); font-weight: normal; font-style: normal; }
h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,dl,dt,dd,div,
table,thead,tbody,tfoot,tr,th,td,
form,fieldset,legend,input,textarea,select
a, img,figcaption,figure{
    margin:0; padding:0; border:0; outline:0;
    color:inherit;
    font-size:inherit; font-family: inherit;}
th,td{border:1px solid #777; border-left:0; border-right:0;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
body,html{width: 100%; height: 100%;}
/* //reset.css */
/* 오래된 모바일용(갤럭시s5 기준, 화면이 작은 핸드폰) */
@media screen and (max-width: 454px){
#wrap{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../../../img/mong/main_back.jpg');
}
.user_name{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 20px;
  box-sizing: border-box;
}
.user_name p{
  width: 100%;
  font-size: 28px;
  line-height: 40px;
}
.contents{
  width: 100%;
  height: 260px;
  padding: 0 20px;
  box-sizing: border-box;
}
.buy_ticket{
  width: 100%;
  height: 110px;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}
.use_ticket{
  width: 100%;
  height: 110px;
  padding: 20px 0;
  box-sizing: border-box;
}
.buy_icon,
.use_icon{
  position: relative;
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
}
.buy_icon{
  background-size: 70%;
  background-position: center;
  background-image: url('../../../../img/mong/main_buy_icon.png');
}
.use_icon{
  background-size: 70%;
  background-position: 10px center;
  background-image: url('../../../../img/mong/main_use_icon.png');
}
.buy_count,
.use_count{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 50%;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
}
.buy_ticket dl,
.use_ticket dl{
  float: left;
  margin: 10px 0 0 10px;
}
.buy_ticket dl dt,
.use_ticket dl dt{
  font-size: 22px;
}
.buy_ticket dl dd,
.use_ticket dl dd{
  font-size: 12px;
  color: #ddd;
}
.buy_ticket a,
.use_ticket a{
  float: right;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.buy_ticket a i,
.use_ticket a i{
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
}
.guide_bottom{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: rgba(98, 155, 234, 0.7);
}
.guide_bottom i{
  float: left;
  font-size: 16px;
  line-height: 50px;
}
.guide_bottom p{
  float: left;
  margin-left: 10px;
  font-size: 14px;
  line-height: 50px;
}
}
/* //오래된 모바일용(갤럭시s5 기준, 화면이 작은 핸드폰) */
/* 모바일 갤럭시 s9, s10(w:550px, h:850px기준으로 작업) */
@media screen and (min-width: 455px) and (max-width:550px){
#wrap{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../../../img/mong/main_back.jpg');
}
.user_name{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 20px;
  box-sizing: border-box;
}
.user_name p{
  width: 100%;
  font-size: 32px;
  line-height: 50px;
}
.contents{
  width: 100%;
  height: 260px;
  padding: 0 20px;
  box-sizing: border-box;
}
.buy_ticket{
  width: 100%;
  height: 130px;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}
.use_ticket{
  width: 100%;
  height: 130px;
  padding: 20px 0;
  box-sizing: border-box;
}
.buy_icon,
.use_icon{
  position: relative;
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
}
.buy_icon{
  background-size: 70%;
  background-position: center;
  background-image: url('../../../../img/mong/main_buy_icon.png');
}
.use_icon{
  background-size: 70%;
  background-position: 10px center;
  background-image: url('../../../../img/mong/main_use_icon.png');
}
.buy_count,
.use_count{
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
}
.buy_ticket dl,
.use_ticket dl{
  float: left;
  margin: 15px 0 0 20px;
}
.buy_ticket dl dt,
.use_ticket dl dt{
  font-size: 24px;
}
.buy_ticket dl dd,
.use_ticket dl dd{
  font-size: 16px;
  color: #ddd;
}
.buy_ticket a,
.use_ticket a{
  float: right;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.buy_ticket a i,
.use_ticket a i{
  width: 50px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  line-height: 50px;
}
.guide_bottom{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: rgba(98, 155, 234, 0.7);
}
.guide_bottom i{
  float: left;
  font-size: 24px;
  line-height: 50px;
}
.guide_bottom p{
  float: left;
  margin-left: 20px;
  font-size: 18px;
  line-height: 50px;
}
}
/* //모바일 갤럭시 s9, s10(w:550px, h:850px기준으로 작업) */
/* 태블릿(아이패드, 노트 등) */
@media screen and (min-width: 551px) {
#wrap{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url('../../../../img/mong/main_back.jpg');
}
.user_name{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  padding: 0 40px;
  box-sizing: border-box;
}
.user_name p{
  width: 100%;
  font-size: 32px;
  line-height: 50px;
}
.contents{
  width: 100%;
  height: 400px;
  padding: 0 40px;
  box-sizing: border-box;
}
.buy_ticket{
  width: 100%;
  height: 200px;
  padding: 40px 0;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
}
.use_ticket{
  width: 100%;
  height: 200px;
  padding: 40px 0;
  box-sizing: border-box;
}
.buy_icon,
.use_icon{
  position: relative;
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
}
.buy_icon{
  background-size: 70%;
  background-position: center;
  background-image: url('../../../../img/mong/main_buy_icon.png');
}
.use_icon{
  background-size: 70%;
  background-position: 10px center;
  background-image: url('../../../../img/mong/main_use_icon.png');
}
.buy_count,
.use_count{
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.7);
}
.buy_ticket dl,
.use_ticket dl{
  float: left;
  margin: 30px 0 0 20px;
}
.buy_ticket dl dt,
.use_ticket dl dt{
  font-size: 24px;
}
.buy_ticket dl dd,
.use_ticket dl dd{
  font-size: 16px;
  color: #ddd;
}
.buy_ticket a,
.use_ticket a{
  float: right;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.buy_ticket a i,
.use_ticket a i{
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
}
.guide_bottom{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: rgba(98, 155, 234, 0.7);
}
.guide_bottom i{
  float: left;
  font-size: 24px;
  line-height: 50px;
}
.guide_bottom p{
  float: left;
  margin-left: 20px;
  font-size: 18px;
  line-height: 50px;
}
}
/* //태블릿(아이패드, 노트 등) */