/* common.css */
.clearfix:after{content:" "; display:block; clear:both;}
.clearfix::after{content:" "; display:block; clear:both;}

.hidden_wrap span,
.hidden_wrap a>span,
.hidden_txt{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
.hidden_wrap a{display:block; width:100%; height:100%;}

.backimg{background-repeat: no-repeat; background-position: center; -webkit-background-size: cover;background-size: cover;}

#wrap ul>.first,
#wrap ol>.first{margin-left:0; border-left:0;}
#wrap ul>.last,
#wrap ol>.last{margin-right:0; border-right:0;}
#wrap ul>.top,
#wrap ol>.top{margin-top:0; border-top:0;}
#wrap ul>.bottom,
#wrap ol>.bottom{margin-bottom:0; border-bottom:0;}

@media screen and (max-width:480px){

}
@media screen and (min-width:481px){

}
@media screen and (min-width:768px){

}
@media screen and (min-width:1367px){

}


/* loading 화면만들기 예시. 필요시 수정해서 사용 */
body.loading:before{content:"\f1e3"; font-family:fontawesome; color:#f06;
  animation:spin 3s infinite ease; 
  display: block; width: 3rem; height: 3rem;
  text-align: center; line-height:3rem; font-size: 3rem;
  position: fixed; top: 50%; margin-top: -1.5rem; left: 50%; margin-left: -1.5rem;
  z-index:2000;}
body.loading:after{content:"loading...."; display: block; width: 100%; height: 100%; 
position: fixed; top:0; left:0; z-index:1900; background-color: #0cc;
box-sizing:border-box; padding-top: 50%; text-align: center;}

@keyframes spin {
  0%{transform:rotate(0);}
  50%{color:#fa0;}
  100%{transform:rotate(720deg);}
}